@use '/src/Variables/Variables.scss' as *;

.currentlyReadingCard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    margin: 10px 10px;
    width: 92%;
    height: 130px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    gap: 5px;
  
    &__image {
      height: 100px;
      grid-row: 1/4;
    }
  
    &__details {
      grid-row: 1;
      grid-column: 2/4;
      padding: 5px;
      line-height: 20px;
  
      &--title {
        margin: 7px 0px;
        font-weight: $bold-font-weight;
        font-size: $title-card-font-size;
      }
  
      &--book {
        margin: 7px 0px;
        font-size: $main-card-font-size;
      }

      &--button {
        margin-top: 5px;
        border-radius: 10px;
        width: 100px;
        background-color: $main-colour;
        border: 1px solid $main-colour;
        font-weight: $bold-font-weight;

        &:active {
          background-color: darken($main-colour, 10%);
        }

      }
    }
  }