@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$main-colour: #9BC2C4;
$secondary-colour: #263F40;
$main-background-colour: #F2F7F7;

$heading-font-colour: white;
$heading-font: Raleway ;

$main-font-colour: black;
$main-font: Poppins;
$main-font-weight: 200;
$bold-font-weight: 500;

$title-card-font-size: 17px;
$main-card-font-size: 14px;
