@use '/src/Variables/Variables.scss' as *;

.bookCard {
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    margin: 10px 10px;
    width: 92%;
    height: 120px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    gap: 5px;
  
    &__details--title {
      margin: 7px 0px;
      font-weight: $bold-font-weight;
      font-size: $title-card-font-size;
    }

    &__details--book {
      margin: 7px 0px;
      font-size: $main-card-font-size;
    }
  
    &__details {
      grid-row: 1;
      grid-column: 2/4;
      padding: 5px;
      line-height: 20px;


      &--button {
        margin-top: 5px;
        border-radius: 10px;
        width: 115px;
        background-color: $main-colour;
        font-weight: $bold-font-weight;
        border: 1px solid $main-colour;

        &:active {
          background-color: darken($main-colour, 10%);
        }

      }
    }
}


